<%= form_for @user_feedback do |f| %>
<%= f.label :what_did_the_intern_do_exceedingly_well_? %> <br>
<%= f.text_area :feedback, :size => "100x10" %></p>
<%= f.label :what_could_the_intern_have_done_better_? %><br>
<%= f.text_area :feedback, :size => "100x10" %>
<%= f.hidden_field :user_id %> <br> <br>
<%= f.submit 'Submit Feedback' %>
<% end %>
