<% @users.each do |user| %>
<p>
<%= user.first_name %>
<%= user.last_name %>
<br>
<%= user.email %>
<%= user.school_name %>
<%= user.internship_year %>
</p>

  <%= if current_user.admin? %>
    <%= link_to "Create feedback", new_user_feedback_path(user_id: user.id) %>

    <%= link_to "Show feedback", user_feedbacks_path(user_id: user.admin) %>
  <% end %>
<% end %>
