<% if user_signed_in? %>
	<body>
		<% if current_user.admin %>
				<H1> Feedback </H1>
				<% @feedbacks.each do |feedback| %>
			  	<% u = feedback.user %>
			  <p>
			  	<%= feedback.feedback %> |
			  	<%= "#{u.first_name} #{u.last_name}" %> |
			  	<%= u.created_at%>
			  </p>
				<% end %>

		<% else %>
			<h1>Intern Evaluation Survey</h1>
			<h2>Instructions</h2>
			<p>Please fill out this survey to evaluate your internship experience at AELOGICA.
				<p>
				 We would like you to be as honest as possible because your constructive feedback will  be used to make this program better.</p>
				</p>

				<%= link_to 'Start Evaluation', 'rapidfire' %></li>
				<br>
		<p>Thanks!</p>
		<% end %>

	</body>
<% else %>

	<center>
		<h1>The Survey App by ÆLOGICA</h1>
		<h2>Making Surveys and Big Projects Easier</h2>

		<div class = "btn-panel">
			<div class="btn-group">
				<%= link_to "Sign up", new_user_registration_path, :class => "btn" %>
			</div>
				or
			<div class="btn-group">
				<%= link_to "Log in", new_user_session_path, :class => "btn" %>
			</div>
		</div>

	</center>

<% end %>
