<% if current_user && !current_user.admin %>
	<h1>Intern Evaluation Survey</h1>
	<h2>Instructions</h2>
	<p>Please fill out this survey to evaluate your internship experience at AELOGICA. We would like you to be as honest as possible because your constructive feedback will  be used to make this program better.</p>
	<p>Click at the tab called <strong>Start Evaluation</strong> to start filling out the questionnaire.</p>
	<p>Thanks!</p>
<% elsif current_user && current_user.admin %>
	<H1> Feedback </H1>
		<table class="table table-striped">
			<thead>
				<th>Feedback</th>
				<th>User</th>
				<th>Date Created</th>
			</thead>
		  	<tbody>
				<% @feedbacks.each do |feedback| %>
		  		<% u = feedback.user %>
		  		<tr>
		  			<td> <%= feedback.feedback %> </td>
			  		<td> <%= "#{u.first_name} #{u.last_name}" %> </td>
			  		<td> <%= u.created_at%> </td>
		  		</tr>
				<% end %>
			</tbody>
		</table>
<% else %>
	<center>
		<h1>The Survey App by ÆLOGICA</h1>
		<h2>Making Surveys and Big Projects Easier</h2>
		<div class="btn-group">
			<%= link_to "Sign up", new_user_registration_path, :class => "btn btn-primary" %>
		</div>
	     <br>	or <br>

		<div class="btn-group">
			<%= link_to "Log in", new_user_session_path, :class => "btn btn-primary" %>
		</div>
	</center>

<% end %>